node-red-dashboard.json
[{"id":"22a46cda.ac99c4","type":"csv","z":"7cce5898.8a1998","name":"Acrres PLC csv parser","sep":";","hdrin":false,"hdrout":true,"multi":"one","ret":"\\n","temp":"datetime,GroupA_L1_P,GroupA_L2_P,GroupA_L3_P,GroupA_L1_Q,GroupA_L2_Q,GroupA_L3_Q,GroupA_L1_V,GroupA_L2_V,GroupA_L3_V,GroupA_L1_I,GroupA_L2_I,GroupA_L3_I,GroupA_L1_f,GroupA_L2_f,GroupA_L3_f,GroupA_3F_E,GroupA_3F_Field_Rotation,GroupA_3F_E_Reactive,GroupB_L1_P,GroupB_L2_P,GroupB_L3_P,GroupB_L1_Q,GroupB_L2_Q,GroupB_L3_Q,GroupB_L1_V,GroupB_L2_V,GroupB_L3_V,GroupB_L1_I,GroupB_L2_I,GroupB_L3_I,GroupB_L1_f,GroupB_L2_f,GroupB_L3_f,GroupB_3F_E,GroupB_3F_Field_Rotation,GroupB_3F_E_Reactive,Group1_L1_P,Group1_L2_P,Group1_L3_P,Group1_L1_Q,Group1_L2_Q,Group1_L3_Q,Group1_L1_V,Group1_L2_V,Group1_L3_V,Group1_L1_I,Group1_L2_I,Group1_L3_I,Group1_L1_f,Group1_L2_f,Group1_L3_f,Group1_3F_E,Group1_3F_Field_Rotation,Group1_3F_E_Reactive,Group2_L1_P,Group2_L2_P,Group2_L3_P,Group2_L1_Q,Group2_L2_Q,Group2_L3_Q,Group2_L1_V,Group2_L2_V,Group2_L3_V,Group2_L1_I,Group2_L2_I,Group2_L3_I,Group2_L1_f,Group2_L2_f,Group2_L3_f,Group2_3F_E,Group2_3F_Field_Rotation,Group2_3F_E_Reactive,Group3_L1_P,Group3_L2_P,Group3_L3_P,Group3_L1_Q,Group3_L2_Q,Group3_L3_Q,Group3_L1_V,Group3_L2_V,Group3_L3_V,Group3_L1_I,Group3_L2_I,Group3_L3_I,Group3_L1_f,Group3_L2_f,Group3_L3_f,Group3_3F_E,Group3_3F_Field_Rotation,Group3_3F_E_Reactive,Group4_L1_P,Group4_L2_P,Group4_L3_P,Group4_L1_Q,Group4_L2_Q,Group4_L3_Q,Group4_L1_V,Group4_L2_V,Group4_L3_V,Group4_L1_I,Group4_L2_I,Group4_L3_I,Group4_L1_f,Group4_L2_f,Group4_L3_f,Group4_3F_E,Group4_3F_Field_Rotation,Group4_3F_E_Reactive,Group5_L1_P,Group5_L2_P,Group5_L3_P,Group5_L1_Q,Group5_L2_Q,Group5_L3_Q,Group5_L1_V,Group5_L2_V,Group5_L3_V,Group5_L1_I,Group5_L2_I,Group5_L3_I,Group5_L1_f,Group5_L2_f,Group5_L3_f,Group5_3F_E,Group5_3F_Field_Rotation,Group5_3F_E_Reactive,Group6_L1_P,Group6_L2_P,Group6_L3_P,Group6_L1_Q,Group6_L2_Q,Group6_L3_Q,Group6_L1_V,Group6_L2_V,Group6_L3_V,Group6_L1_I,Group6_L2_I,Group6_L3_I,Group6_L1_f,Group6_L2_f,Group6_L3_f,Group6_3F_E,Group6_3F_Field_Rotation,Group6_3F_E_Reactive,Group7_L1_P,Group7_L2_P,Group7_L3_P,Group7_L1_Q,Group7_L2_Q,Group7_L3_Q,Group7_L1_V,Group7_L2_V,Group7_L3_V,Group7_L1_I,Group7_L2_I,Group7_L3_I,Group7_L1_f,Group7_L2_f,Group7_L3_f,Group7_3F_E,Group7_3F_Field_Rotation,Group7_3F_E_Reactive,Group8_L1_P,Group8_L2_P,Group8_L3_P,Group8_L1_Q,Group8_L2_Q,Group8_L3_Q,Group8_L1_V,Group8_L2_V,Group8_L3_V,Group8_L1_I,Group8_L2_I,Group8_L3_I,Group8_L1_f,Group8_L2_f,Group8_L3_f,Group8_3F_E,Group8_3F_Field_Rotation,Group8_3F_E_Reactive,Group9_L1_P,Group9_L2_P,Group9_L3_P,Group9_L1_Q,Group9_L2_Q,Group9_L3_Q,Group9_L1_V,Group9_L2_V,Group9_L3_V,Group9_L1_I,Group9_L2_I,Group9_L3_I,Group9_L1_f,Group9_L2_f,Group9_L3_f,Group9_3F_E,Group9_3F_Field_Rotation,Group9_3F_E_Reactive,Bus_Connector_L1_P,Bus_Connector_L2_P,Bus_Connector_L3_P,Bus_Connector_L1_Q,Bus_Connector_L2_Q,Bus_Connector_L3_Q,Bus_Connector_L1_V,Bus_Connector_L2_V,Bus_Connector_L3_V,Bus_Connector_L1_I,Bus_Connector_L2_I,Bus_Connector_L3_I,Bus_Connector_L1_f,Bus_Connector_L2_f,Bus_Connector_L3_f,Bus_Connector_3F_radians,Bus_Connector_3F_Sync_close_requested,Bus_Connector_3F_Sync_closed,Bus_Connector_3F_Sync_close_requested_panel,Bus_Connector_3F_Sync_denied_panel,Bus_Connector_3F_Sync_close_requested_modbus,Bus_Connector_3F_Sync_denied_modbus,Bus_Connector_3F_Field_Rotation,CHP_control_grid_bus_select_controlswitch,CHP_control_baterry_bus_select_controlswitch,CHP_control_auto_bus_select_controlswitch,CHP_control_Offgrid_request,CHP_control_Offgrid_Active_Power_control,CHP_control_internal_contacter_switch_state,EV_control_control_signal,Mixer_control_control_signal,Group1_3F_Auto_relay_control_battery_bus,Group1_3F_Auto_relay_control_grid_bus,Group1_3F_Selector_auto_bus_select,Group1_3F_relay_state_battery_bus,Group1_3F_relay_state_grid_bus,Group2_3F_Auto_relay_control_battery_bus,Group2_3F_Auto_relay_control_grid_bus,Group2_3F_Selector_auto_bus_select,Group2_3F_relay_state_battery_bus,Group2_3F_relay_state_grid_bus,Group3_3F_Auto_relay_control_battery_bus,Group3_3F_Auto_relay_control_grid_bus,Group3_3F_Selector_auto_bus_select,Group3_3F_relay_state_battery_bus,Group3_3F_relay_state_grid_bus,Group4_3F_Auto_relay_control_battery_bus,Group4_3F_Auto_relay_control_grid_bus,Group4_3F_Selector_auto_bus_select,Group4_3F_relay_state_battery_bus,Group4_3F_relay_state_grid_bus,Group5_3F_Auto_relay_control_battery_bus,Group5_3F_Auto_relay_control_grid_bus,Group5_3F_Selector_auto_bus_select,Group5_3F_relay_state_battery_bus,Group5_3F_relay_state_grid_bus,Group6_3F_Auto_relay_control_battery_bus,Group6_3F_Auto_relay_control_grid_bus,Group6_3F_Selector_auto_bus_select,Group6_3F_relay_state_battery_bus,Group6_3F_relay_state_grid_bus,Group7_3F_Auto_relay_control_battery_bus,Group7_3F_Auto_relay_control_grid_bus,Group7_3F_Selector_auto_bus_select,Group7_3F_relay_state_battery_bus,Group7_3F_relay_state_grid_bus,Group8_3F_Auto_relay_control_battery_bus,Group8_3F_Auto_relay_control_grid_bus,Group8_3F_Selector_auto_bus_select,Group8_3F_relay_state_battery_bus,Group8_3F_relay_state_grid_bus,Group9_3F_Auto_relay_control_battery_bus,Group9_3F_Auto_relay_control_grid_bus,Group9_3F_Selector_auto_bus_select,Group9_3F_relay_state_battery_bus,Group9_3F_relay_state_grid_bus,Group_control_Frequencybased_bus_selecting_state,Group_control_min_time_above_switch_frequency,Group_control_min_time_below_switch_frequency,Group1_3F_Switch_frequency_to_batterybus,Group1_3F_Switch_frequency_to_gridbus,Group1_3F_min_time_between_switching,Group2_3F_Switch_frequency_to_batterybus,Group2_3F_Switch_frequency_to_gridbus,Group2_3F_min_time_between_switching,Group3_3F_Switch_frequency_to_batterybus,Group3_3F_Switch_frequency_to_gridbus,Group3_3F_min_time_between_switching,Group4_3F_Switch_frequency_to_batterybus,Group4_3F_Switch_frequency_to_gridbus,Group4_3F_min_time_between_switching,Group5_3F_Switch_frequency_to_batterybus,Group5_3F_Switch_frequency_to_gridbus,Group5_3F_min_time_between_switching,Group6_3F_Switch_frequency_to_batterybus,Group6_3F_Switch_frequency_to_gridbus,Group6_3F_min_time_between_switching,Group7_3F_Switch_frequency_to_batterybus,Group7_3F_Switch_frequency_to_gridbus,Group7_3F_min_time_between_switching,Group8_3F_Switch_frequency_to_batterybus,Group8_3F_Switch_frequency_to_gridbus,Group8_3F_min_time_between_switching,Group9_3F_Switch_frequency_to_batterybus,Group9_3F_Switch_frequency_to_gridbus,Group9_3F_min_time_between_switching,Control_panel_status_warning_led,Control_panel_status_error_led,Control_panel_status_operational_led","x":340,"y":100,"wires":[["72aa821c.5af15c"]]},{"id":"7b45c8ac.3c0fd8","type":"file in","z":"7cce5898.8a1998","name":"Read Acrres.csv","filename":"/Users/arnekaas/Desktop/acrres/acrres_log.csv","format":"lines","chunk":false,"sendError":false,"x":320,"y":60,"wires":[["22a46cda.ac99c4"]]},{"id":"341e7bdb.6a2604","type":"tail","z":"7cce5898.8a1998","name":"Tail Acrres.csv","filetype":"text","split":true,"filename":"/Users/arnekaas/Desktop/Acrres_log.csv","x":130,"y":100,"wires":[["22a46cda.ac99c4"]]},{"id":"18cd8e13.fd0ac2","type":"debug","z":"7cce5898.8a1998","name":"","active":false,"console":"false","complete":"false","x":606,"y":1023,"wires":[]},{"id":"9e1f546b.fc45a8","type":"inject","z":"7cce5898.8a1998","name":"Read log","topic":"","payload":"/Users/arnekaas/Desktop/acrres_log.csv","payloadType":"str","repeat":"","crontab":"","once":true,"x":140,"y":60,"wires":[["7b45c8ac.3c0fd8"]]},{"id":"bdd91ef9.3ef48","type":"ui_chart","z":"7cce5898.8a1998","name":"","group":"5537b8db.29908","order":2,"width":0,"height":0,"label":"GroupA","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":822,"y":182,"wires":[[],[]]},{"id":"a24fd0d7.d77a6","type":"switch","z":"7cce5898.8a1998","name":"Split by groups","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"GroupA","vt":"str"},{"t":"cont","v":"GroupB","vt":"str"},{"t":"cont","v":"Bus_Connector","vt":"str"},{"t":"cont","v":"Group1","vt":"str"},{"t":"cont","v":"Group2","vt":"str"},{"t":"cont","v":"Group3","vt":"str"},{"t":"cont","v":"Group4","vt":"str"},{"t":"cont","v":"Group5","vt":"str"},{"t":"cont","v":"Group6","vt":"str"},{"t":"cont","v":"Group7","vt":"str"},{"t":"cont","v":"Group8","vt":"str"},{"t":"cont","v":"Group9","vt":"str"}],"checkall":"true","outputs":12,"x":378,"y":279,"wires":[["fa8f5639.bcd788"],["65e97f55.9a8d18"],["90a5ced8.4d16b8"],["dad1688a.88d6f8"],["e068a143.26859"],["8147e877.f21558"],["edfd5c4.2d3db2"],["6ddf8184.929a4"],["1a061d62.08fe9b"],["b201e84e.cebff8"],["497bb7c9.e1db4"],["d7efcf1.56172b"]]},{"id":"2ce3ed72.943762","type":"ui_chart","z":"7cce5898.8a1998","name":"","group":"5537b8db.29908","order":4,"width":0,"height":0,"label":"GroupB","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":827,"y":225,"wires":[[],[]]},{"id":"214b4df2.6deea2","type":"ui_chart","z":"7cce5898.8a1998","name":"","group":"5537b8db.29908","order":6,"width":0,"height":0,"label":"GroupC","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":827,"y":265,"wires":[[],[]]},{"id":"72aa821c.5af15c","type":"split","z":"7cce5898.8a1998","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":370,"y":160,"wires":[["b1dfd111.282618","a24fd0d7.d77a6"]]},{"id":"2bf949c7.3934a6","type":"switch","z":"7cce5898.8a1998","name":"Split by type","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"_P","vt":"str"},{"t":"cont","v":"_Q","vt":"str"},{"t":"cont","v":"_I","vt":"str"},{"t":"cont","v":"_V","vt":"str"},{"t":"cont","v":"_f","vt":"str"},{"t":"cont","v":"_E_Reactive","vt":"str"},{"t":"cont","v":"_E","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"false","outputs":8,"x":426,"y":819,"wires":[["5f562e46.83a5e","f66d99bd.53206"],[],[],[],[],[],[],["ae388925.7b857"]],"outputLabels":["P","Q","I","V","f","VAh","Wh",""]},{"id":"5f562e46.83a5e","type":"ui_chart","z":"7cce5898.8a1998","name":"","group":"5537b8db.29908","order":3,"width":0,"height":0,"label":"Power GroupB","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":783,"y":774,"wires":[[],[]]},{"id":"8ec19eae.c5357","type":"ui_chart","z":"7cce5898.8a1998","name":"","group":"5537b8db.29908","order":1,"width":0,"height":0,"label":"Power GroupA","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":785,"y":641,"wires":[[],[]]},{"id":"4edc07a1.b41ff8","type":"switch","z":"7cce5898.8a1998","name":"Split by type","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"_P","vt":"str"},{"t":"cont","v":"_Q","vt":"str"},{"t":"cont","v":"_I","vt":"str"},{"t":"cont","v":"_V","vt":"str"},{"t":"cont","v":"_f","vt":"str"},{"t":"cont","v":"_E_Reactive","vt":"str"},{"t":"cont","v":"_E","vt":"str"}],"checkall":"false","outputs":7,"x":427,"y":690,"wires":[["8ec19eae.c5357","f66d99bd.53206"],[],[],[],[],[],["ae388925.7b857"]],"outputLabels":["P","Q","I","V","f","VAh","Wh"]},{"id":"641638ce.0cefb","type":"ui_chart","z":"7cce5898.8a1998","name":"","group":"5537b8db.29908","order":5,"width":0,"height":0,"label":"Power GroupC","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":785,"y":893,"wires":[[],[]]},{"id":"e250f04d.b7e94","type":"switch","z":"7cce5898.8a1998","name":"Split by type","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"_P","vt":"str"},{"t":"cont","v":"_Q","vt":"str"},{"t":"cont","v":"_I","vt":"str"},{"t":"cont","v":"_V","vt":"str"},{"t":"cont","v":"_f","vt":"str"},{"t":"cont","v":"_E_Reactive","vt":"str"},{"t":"cont","v":"_E","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"false","outputs":8,"x":429,"y":945,"wires":[["641638ce.0cefb","f66d99bd.53206"],[],[],[],[],[],[],["ae388925.7b857"]],"outputLabels":["P","Q","I","V","f","VAh","Wh",""]},{"id":"12919f49.14e839","type":"ui_chart","z":"7cce5898.8a1998","name":"","group":"9561aca0.464bd","order":1,"width":0,"height":0,"label":"Wh Group ABC","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1023,"y":1020,"wires":[[],[]]},{"id":"7e2ddfb3.ed5af8","type":"function","z":"7cce5898.8a1998","name":"str to number (=0)","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":586.5,"y":116,"wires":[[]]},{"id":"fa8f5639.bcd788","type":"link out","z":"7cce5898.8a1998","name":"Group A","links":["a546ca10.d7f2f","a9f0a698.a2f818"],"x":549.5,"y":194,"wires":[]},{"id":"65e97f55.9a8d18","type":"link out","z":"7cce5898.8a1998","name":"Group B","links":["688023ed.96a35c","c695374.e7b40c8"],"x":583,"y":216,"wires":[]},{"id":"90a5ced8.4d16b8","type":"link out","z":"7cce5898.8a1998","name":"Group C","links":["8d5b5102.c51858","ec0e0446.5b3ad"],"x":618,"y":238,"wires":[]},{"id":"dad1688a.88d6f8","type":"link out","z":"7cce5898.8a1998","name":"Group 1","links":["80aea40d.f4478"],"x":544,"y":233,"wires":[]},{"id":"e068a143.26859","type":"link out","z":"7cce5898.8a1998","name":"Group 2","links":["9863da9b.a8c2b8"],"x":577.5,"y":255,"wires":[]},{"id":"8147e877.f21558","type":"link out","z":"7cce5898.8a1998","name":"Group 3","links":["fd11dd0a.5c379"],"x":612.5,"y":277,"wires":[]},{"id":"a546ca10.d7f2f","type":"link in","z":"7cce5898.8a1998","name":"","links":["fa8f5639.bcd788"],"x":308.5,"y":688,"wires":[["4edc07a1.b41ff8"]]},{"id":"688023ed.96a35c","type":"link in","z":"7cce5898.8a1998","name":"","links":["65e97f55.9a8d18"],"x":300,"y":819,"wires":[["2bf949c7.3934a6"]]},{"id":"8d5b5102.c51858","type":"link in","z":"7cce5898.8a1998","name":"","links":["90a5ced8.4d16b8"],"x":299,"y":944,"wires":[["e250f04d.b7e94"]]},{"id":"78d63483.12a434","type":"ui_chart","z":"7cce5898.8a1998","name":"Powers per connector","group":"9561aca0.464bd","order":3,"width":0,"height":0,"label":"Powers per Bar","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1012,"y":775,"wires":[[],[]]},{"id":"f66d99bd.53206","type":"join","z":"7cce5898.8a1998","name":"Group powers of all lines","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","x":810.5,"y":699,"wires":[["63af3955.12512"]]},{"id":"63af3955.12512","type":"function","z":"7cce5898.8a1998","name":"Merge powers","func":"msg.payload = msg.payload[0]+ msg.payload[1]+ msg.payload[2];\nmsg.topic = msg.topic.substring(0,6);\nreturn msg;","outputs":1,"noerr":0,"x":1018,"y":698,"wires":[["78d63483.12a434"]]},{"id":"edfd5c4.2d3db2","type":"link out","z":"7cce5898.8a1998","name":"Group 4","links":["a44b6ac2.62aa98"],"x":539,"y":270,"wires":[]},{"id":"6ddf8184.929a4","type":"link out","z":"7cce5898.8a1998","name":"Group 5","links":["6d016ceb.dd9b54"],"x":572.5,"y":292,"wires":[]},{"id":"1a061d62.08fe9b","type":"link out","z":"7cce5898.8a1998","name":"Group 6","links":["95d97ad3.c69178"],"x":607.5,"y":314,"wires":[]},{"id":"b201e84e.cebff8","type":"link out","z":"7cce5898.8a1998","name":"Group 7","links":["e08c1d8e.28cc98"],"x":533.5,"y":309,"wires":[]},{"id":"497bb7c9.e1db4","type":"link out","z":"7cce5898.8a1998","name":"Group 8","links":["8a5712ce.1b818"],"x":567,"y":331,"wires":[]},{"id":"d7efcf1.56172b","type":"link out","z":"7cce5898.8a1998","name":"Group 9","links":["72f84fb5.2cf4c8"],"x":602,"y":353,"wires":[]},{"id":"b030bffc.016cd","type":"switch","z":"7cce5898.8a1998","name":"Split by type","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"_P","vt":"str"},{"t":"cont","v":"_Q","vt":"str"},{"t":"cont","v":"_I","vt":"str"},{"t":"cont","v":"_V","vt":"str"},{"t":"cont","v":"_f","vt":"str"},{"t":"cont","v":"_E_Reactive","vt":"str"},{"t":"cont","v":"_E","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"false","outputs":8,"x":422,"y":1240,"wires":[["861a4202.6ba98","90dd8d2b.5ce1d8"],[],[],[],[],[],["2f425b5a.b4258c"],[]],"outputLabels":["P","Q","I","V","f","VAh","Wh",""]},{"id":"861a4202.6ba98","type":"ui_chart","z":"7cce5898.8a1998","name":"","group":"67fd453b.fea2bc","order":2,"width":0,"height":0,"label":"Power Group 2","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":779,"y":1195,"wires":[[],[]]},{"id":"d210a1d.bd628e","type":"ui_chart","z":"7cce5898.8a1998","name":"","group":"67fd453b.fea2bc","order":1,"width":0,"height":0,"label":"Power Group 1","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":781,"y":1062,"wires":[[],[]]},{"id":"acaac592.3e889","type":"switch","z":"7cce5898.8a1998","name":"Split by type","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"_P","vt":"str"},{"t":"cont","v":"_Q","vt":"str"},{"t":"cont","v":"_I","vt":"str"},{"t":"cont","v":"_V","vt":"str"},{"t":"cont","v":"_f","vt":"str"},{"t":"cont","v":"_E_Reactive","vt":"str"},{"t":"cont","v":"_E","vt":"str"}],"checkall":"false","outputs":7,"x":423,"y":1111,"wires":[["d210a1d.bd628e","90dd8d2b.5ce1d8"],[],[],[],[],["2f425b5a.b4258c"],[]],"outputLabels":["P","Q","I","V","f","VAh","Wh"]},{"id":"8f4b5f28.93aa18","type":"ui_chart","z":"7cce5898.8a1998","name":"","group":"67fd453b.fea2bc","order":3,"width":0,"height":0,"label":"Power Group 3","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":781,"y":1314,"wires":[[],[]]},{"id":"29bf3b4d.d737a4","type":"switch","z":"7cce5898.8a1998","name":"Split by type","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"_P","vt":"str"},{"t":"cont","v":"_Q","vt":"str"},{"t":"cont","v":"_I","vt":"str"},{"t":"cont","v":"_V","vt":"str"},{"t":"cont","v":"_f","vt":"str"},{"t":"cont","v":"_E_Reactive","vt":"str"},{"t":"cont","v":"_E","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"false","outputs":8,"x":425,"y":1366,"wires":[["8f4b5f28.93aa18","90dd8d2b.5ce1d8"],[],[],[],[],[],["2f425b5a.b4258c"],[]],"outputLabels":["P","Q","I","V","f","VAh","Wh",""]},{"id":"80aea40d.f4478","type":"link in","z":"7cce5898.8a1998","name":"","links":["dad1688a.88d6f8"],"x":304.5,"y":1109,"wires":[["acaac592.3e889"]]},{"id":"9863da9b.a8c2b8","type":"link in","z":"7cce5898.8a1998","name":"","links":["e068a143.26859"],"x":296,"y":1240,"wires":[["b030bffc.016cd","18cd8e13.fd0ac2"]]},{"id":"fd11dd0a.5c379","type":"link in","z":"7cce5898.8a1998","name":"","links":["8147e877.f21558"],"x":295,"y":1365,"wires":[["29bf3b4d.d737a4"]]},{"id":"16e7ba73.db2f76","type":"ui_chart","z":"7cce5898.8a1998","name":"Powers per group","group":"9561aca0.464bd","order":4,"width":0,"height":0,"label":"Powers per Group","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1320.333381652832,"y":1754.6666164398193,"wires":[[],[]]},{"id":"90dd8d2b.5ce1d8","type":"join","z":"7cce5898.8a1998","name":"Group powers of all lines","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","x":1340.166648864746,"y":1635.3333234786987,"wires":[["40487d9b.cf09e4"]]},{"id":"40487d9b.cf09e4","type":"function","z":"7cce5898.8a1998","name":"Merge powers","func":"msg.payload = msg.payload[0]+ msg.payload[1]+ msg.payload[2];\nmsg.topic = msg.topic.substring(0,6);\nreturn msg;","outputs":1,"noerr":0,"x":1311.3333435058594,"y":1689.6666131019592,"wires":[["16e7ba73.db2f76"]]},{"id":"b43f3ef8.0b6618","type":"switch","z":"7cce5898.8a1998","name":"Split by type","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"_P","vt":"str"},{"t":"cont","v":"_Q","vt":"str"},{"t":"cont","v":"_I","vt":"str"},{"t":"cont","v":"_V","vt":"str"},{"t":"cont","v":"_f","vt":"str"},{"t":"cont","v":"_E_Reactive","vt":"str"},{"t":"cont","v":"_E","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"false","outputs":8,"x":422,"y":1643,"wires":[["da1fe4f6.9d51f","90dd8d2b.5ce1d8"],[],[],[],[],[],["2f425b5a.b4258c"],[]],"outputLabels":["P","Q","I","V","f","VAh","Wh",""]},{"id":"da1fe4f6.9d51f","type":"ui_chart","z":"7cce5898.8a1998","name":"","group":"67fd453b.fea2bc","order":5,"width":0,"height":0,"label":"Power Group 5","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":779,"y":1598,"wires":[[],[]]},{"id":"4f157a15.271cb4","type":"ui_chart","z":"7cce5898.8a1998","name":"","group":"67fd453b.fea2bc","order":4,"width":0,"height":0,"label":"Power Group 4","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":781,"y":1465,"wires":[[],[]]},{"id":"aeb327b6.e1ecd8","type":"switch","z":"7cce5898.8a1998","name":"Split by type","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"_P","vt":"str"},{"t":"cont","v":"_Q","vt":"str"},{"t":"cont","v":"_I","vt":"str"},{"t":"cont","v":"_V","vt":"str"},{"t":"cont","v":"_f","vt":"str"},{"t":"cont","v":"_E_Reactive","vt":"str"},{"t":"cont","v":"_E","vt":"str"}],"checkall":"false","outputs":7,"x":423,"y":1514,"wires":[["4f157a15.271cb4","90dd8d2b.5ce1d8"],[],[],[],[],["2f425b5a.b4258c"],[]],"outputLabels":["P","Q","I","V","f","VAh","Wh"]},{"id":"4b5afde6.a7f6f4","type":"ui_chart","z":"7cce5898.8a1998","name":"","group":"67fd453b.fea2bc","order":6,"width":0,"height":0,"label":"Power Group 6","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":781,"y":1717,"wires":[[],[]]},{"id":"67bf0a04.9bcb5c","type":"switch","z":"7cce5898.8a1998","name":"Split by type","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"_P","vt":"str"},{"t":"cont","v":"_Q","vt":"str"},{"t":"cont","v":"_I","vt":"str"},{"t":"cont","v":"_V","vt":"str"},{"t":"cont","v":"_f","vt":"str"},{"t":"cont","v":"_E_Reactive","vt":"str"},{"t":"cont","v":"_E","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"false","outputs":8,"x":425,"y":1769,"wires":[["4b5afde6.a7f6f4","90dd8d2b.5ce1d8"],[],[],[],[],[],["2f425b5a.b4258c"],[]],"outputLabels":["P","Q","I","V","f","VAh","Wh",""]},{"id":"2f425b5a.b4258c","type":"ui_chart","z":"7cce5898.8a1998","name":"","group":"9561aca0.464bd","order":2,"width":0,"height":0,"label":"Wh per Group","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1307.666648864746,"y":1220.000024318695,"wires":[[],[]]},{"id":"a44b6ac2.62aa98","type":"link in","z":"7cce5898.8a1998","name":"","links":["edfd5c4.2d3db2"],"x":304.5,"y":1512,"wires":[["aeb327b6.e1ecd8"]]},{"id":"6d016ceb.dd9b54","type":"link in","z":"7cce5898.8a1998","name":"","links":["6ddf8184.929a4"],"x":296,"y":1643,"wires":[["b43f3ef8.0b6618"]]},{"id":"95d97ad3.c69178","type":"link in","z":"7cce5898.8a1998","name":"","links":["1a061d62.08fe9b"],"x":295,"y":1768,"wires":[["67bf0a04.9bcb5c"]]},{"id":"9124b10e.54cd98","type":"switch","z":"7cce5898.8a1998","name":"Split by type","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"_P","vt":"str"},{"t":"cont","v":"_Q","vt":"str"},{"t":"cont","v":"_I","vt":"str"},{"t":"cont","v":"_V","vt":"str"},{"t":"cont","v":"_f","vt":"str"},{"t":"cont","v":"_E_Reactive","vt":"str"},{"t":"cont","v":"_E","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"false","outputs":8,"x":431,"y":2048,"wires":[["659f691c.50ced","90dd8d2b.5ce1d8"],[],[],[],[],[],["2f425b5a.b4258c"],[]],"outputLabels":["P","Q","I","V","f","VAh","Wh",""]},{"id":"659f691c.50ced","type":"ui_chart","z":"7cce5898.8a1998","name":"","group":"67fd453b.fea2bc","order":8,"width":0,"height":0,"label":"Power Group 8","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":788,"y":2003,"wires":[[],[]]},{"id":"4c72eefe.26a6c8","type":"ui_chart","z":"7cce5898.8a1998","name":"","group":"67fd453b.fea2bc","order":7,"width":0,"height":0,"label":"Power Group 7","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":790,"y":1870,"wires":[[],[]]},{"id":"6a32e4a6.0713d4","type":"switch","z":"7cce5898.8a1998","name":"Split by type","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"_P","vt":"str"},{"t":"cont","v":"_Q","vt":"str"},{"t":"cont","v":"_I","vt":"str"},{"t":"cont","v":"_V","vt":"str"},{"t":"cont","v":"_f","vt":"str"},{"t":"cont","v":"_E_Reactive","vt":"str"},{"t":"cont","v":"_E","vt":"str"}],"checkall":"false","outputs":7,"x":432,"y":1919,"wires":[["4c72eefe.26a6c8","90dd8d2b.5ce1d8"],[],[],[],[],["2f425b5a.b4258c"],[]],"outputLabels":["P","Q","I","V","f","VAh","Wh"]},{"id":"703725de.398b5c","type":"ui_chart","z":"7cce5898.8a1998","name":"","group":"67fd453b.fea2bc","order":9,"width":0,"height":0,"label":"Power Group 9","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":790,"y":2122,"wires":[[],[]]},{"id":"9d6c695b.c9524","type":"switch","z":"7cce5898.8a1998","name":"Split by type","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"_P","vt":"str"},{"t":"cont","v":"_Q","vt":"str"},{"t":"cont","v":"_I","vt":"str"},{"t":"cont","v":"_V","vt":"str"},{"t":"cont","v":"_f","vt":"str"},{"t":"cont","v":"_E_Reactive","vt":"str"},{"t":"cont","v":"_E","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"false","outputs":8,"x":434,"y":2174,"wires":[["703725de.398b5c","90dd8d2b.5ce1d8"],[],[],[],[],[],["2f425b5a.b4258c"],[]],"outputLabels":["P","Q","I","V","f","VAh","Wh",""]},{"id":"e08c1d8e.28cc98","type":"link in","z":"7cce5898.8a1998","name":"","links":["b201e84e.cebff8"],"x":313.5,"y":1917,"wires":[["6a32e4a6.0713d4"]]},{"id":"8a5712ce.1b818","type":"link in","z":"7cce5898.8a1998","name":"","links":["497bb7c9.e1db4"],"x":305,"y":2048,"wires":[["9124b10e.54cd98"]]},{"id":"72f84fb5.2cf4c8","type":"link in","z":"7cce5898.8a1998","name":"","links":["d7efcf1.56172b"],"x":304,"y":2173,"wires":[["9d6c695b.c9524"]]},{"id":"a9f0a698.a2f818","type":"link in","z":"7cce5898.8a1998","name":"","links":["fa8f5639.bcd788"],"x":714,"y":188,"wires":[["bdd91ef9.3ef48"]]},{"id":"c695374.e7b40c8","type":"link in","z":"7cce5898.8a1998","name":"","links":["65e97f55.9a8d18"],"x":714.5,"y":228,"wires":[["2ce3ed72.943762"]]},{"id":"ec0e0446.5b3ad","type":"link in","z":"7cce5898.8a1998","name":"","links":["90a5ced8.4d16b8"],"x":714.5,"y":265,"wires":[["214b4df2.6deea2"]]},{"id":"b1dfd111.282618","type":"debug","z":"7cce5898.8a1998","name":"","active":false,"console":"false","complete":"false","x":591,"y":74,"wires":[]},{"id":"ae388925.7b857","type":"join","z":"7cce5898.8a1998","name":"Group powers of all lines","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","x":807,"y":958,"wires":[["72add6a6.9576c8"]]},{"id":"72add6a6.9576c8","type":"function","z":"7cce5898.8a1998","name":"Merge powers","func":"msg.payload = msg.payload[0]+ msg.payload[1]+ msg.payload[2];\nmsg.topic = msg.topic.substring(0,6);\nreturn msg;","outputs":1,"noerr":0,"x":1016,"y":957,"wires":[["12919f49.14e839"]]},{"id":"5537b8db.29908","type":"ui_group","z":"","name":"Acrres Connectors","tab":"b8818466.f0d9d8","order":2,"disp":true,"width":"6"},{"id":"9561aca0.464bd","type":"ui_group","z":"","name":"Acrres Total","tab":"b8818466.f0d9d8","disp":true,"width":"6"},{"id":"67fd453b.fea2bc","type":"ui_group","z":"","name":"Acrres Groups","tab":"b8818466.f0d9d8","disp":true,"width":"12"},{"id":"b8818466.f0d9d8","type":"ui_tab","z":"","name":"Acress","icon":"dashboard","order":1}]
